* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.music-player {
    background: yellow;
}

@media (orientation: landscape) and (width >= 800px) and (width <= 1920px){}

@media(orientation: landscape) and (800px <= width <= 1920px) {
    .music-player{
        background: red;
    }
}

@media(orientation: portrait) {
    .music-player{
        width: 100%;
        height: 100vh;
        background: #ffe0e5;
        padding: 25px 35px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box; 
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    nav > .circle {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #fff;
        color: #f53192;
        box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
        border-radius: 50px;
    }

    #song-img {
        width: 220px;
        border-radius: 50%;
        border: 8px solid #fff;
        box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
    }

    .music-player > #song-details > h1 {
        font-size: 20px;
        font-weight: 400;
        color: #333;
        margin-top: 20px;
    }

    .music-player > #song-details > h3 {
        font-size: 14px;
        color: #333;
    }

    #progress {
        appearance: none;
        width: 100%;
        height: 5px;
        background: #f53192;
        border-radius: 4px;
        cursor: pointer;
        margin: 40px 0;
    }

    #progress::-moz-range-track{
        height: 10px;
        padding: 10px 0;
        background-clip: content-box;
        border-radius: 5px;
    }

    #progress::-moz-range-thumb{
        appearance: none;
        background: #f53192;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 8px solid #fff;
        box-shadow: 0 5px 5px rgba(255, 25, 25, 0.22);
    }

    .song-controls{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .song-controls > span {
        width: 60px;
        height: 60px;
        margin: 20px;
        background: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #f53192;
        box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
        cursor: pointer;
    }

    .song-controls > span:nth-child(2){
        transform: scale(1.5);
        background: #f53192;
        color: #fff;
    }

}